{% extends 'base.html' %}

{% block title %}Мое резюме{% endblock %}

{% block content %}<!-- index.html -->

    <h1>Top Github repos</h1>
    {% for repo in repos %}
        <div>
            <div class="card mb-3">
                <div class="card-header fw-bold"><a class="link-opacity-10" href={{ repo.html_url }}>{{ repo.name }}</a></div>
                <div class="card-body">
                    <p class="badge bg-primary text-wrap">{{ repo.stargazers_count }}</p>
                    <p class="card-text">{{ repo.description }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}